{{define "Course-New"}}
  {{ template "Header" }}

  <h2 class="col">Edit Author</h2>

  <form method="POST" action="insert">
    <div class="form-group">
      <label for="exampleInputEmail1">CourseName</label>
      <input type="text" class="form-control" name="CourseName" id="CourseName">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Department</label>
      <input type="text" class="form-control" name="Department" id="Department">
    </div>

    <button type="submit" class="btn btn-primary">Save course</button>
  </form>

  {{ template "Footer" }}
{{end}}